@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* .category {
	display: none;
} */

* {
	font-family: 'Montserrat', sans-serif;
	/* border: 1px solid red; */
}

body {
	font: 20px Montserrat, sans-serif;
	line-height: 1.8;
	color: #f5f6f7;
}

p, li {
	font-size: 16px;
}
  
.margin {
	margin-bottom: 45px;
}

.bg-white {
	background-color: white;
	color: #4b5658;
}

.bg-0 {
	background-color: #EDEFF0; /* Grey */
}

.bg-1 { 
	background-color: #F092B0; 
}

.bg-2 { 
	background-color: #2C9676; 
}

.bg-3 { 
    background-color: #3079AB; 
}

.bg-4 { 
    background-color: #53BBB4; 
}

.bg-5 {
	background-color: #9E4D83; 
}

.bg-6 {
	background-color: #C25975; 
}

.bg-7 {
	background-color: #9E4D83;
}

.bg-8 {
	background-color: #E15258; 
}

.bg-9 {
	background-color: #53BBB4; 
}

.bg-10 {
	background-color: #5CB860; 
}

.bg-11 {
	background-color: #7D669E;
}

.bg-12 {
	background-color: #838CC7;
}

.bg-13 {
	background-color: #95D26C; 
}

.bg-14 {
	background-color: #C25975; 
}

.bg-15 {
	background-color: #EB7728; 
}

.bg-16 {
	background-color: #838CC7; 
}

.bg-17 {
	background-color: #53BBB4; 
}

.bg-18 {
	background-color: #EB7728; 
}

.bg-19 {
	background-color: #F092B0; 
}

.bg-20 {
	background-color: #C25975; 
}

.bg-21 {
	background-color: #E15258; 
}

.bg-22 {
	background-color: #2C9676; 
}

.bg-23 {
	background-color: #F092B0; 
}

.bg-24 {
	background-color: #53BBB4; 
}

.bg-25 {
	background-color: #C38CD4; 
}

.bg-26 {
	background-color: #C25975; 
}

.bg-27 {
	background-color: #20898C;
}

.bg-28 {
	background-color: #5CB860;
}

.bg-29 {
	background-color: #F092B0; 
}

.bg-30 {
	background-color: #2C9676; 
}

.bg-31 {
	background-color: #3079AB; 
}

.container-fluid {
    padding: 45px !important;
    min-height: calc(100vh - 145px);
}

.mid-page {
    border-radius: 0 0 5px 5px;
    padding: 30px;
    box-shadow: 0 2px 5px black;
}

.mid-page a:active {
    color: lightgrey;
}
.mid-page h2 {
    border-bottom: 1px solid #4d4d4d;
}

.mid-page select {
    color: #2f2f2f;
    border-radius: 3px;
    width: 33%;
    font-size: 20px;
}

.mid-page .row {
	text-align: left;
}

.modal-body,
.modal-header,
.modal-footer li {
	border-radius: 4px;
}


/* Header: */

.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 0 !important;
	margin-bottom: 0 !important;
	font-size: 12px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
  
.bg-navbar {
	background-color: #3E474F;
}

.bg-navbar a {
	color: #b2bbbd;
}

.navbar a:hover {
	background-color: #3E474F !important;
	color: white;
	transition: .2s ease-in-out;
}

.navbar span {
	background-color: #b2bbbd;
}

.navbar button {
	border-color: #b2bbbd;
}
  
/* Footer:  */

footer {
	padding: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 14px
}

footer a {
	color: white;
	padding-right: 30px;
}

footer a:hover {
	text-decoration: none;
	color: white;
	transition: .2s ease-in-out;
}

.test + .tooltip > .tooltip-inner {
    background-color: #2f2f2f; 
    color: #FFFFFF;
    border: 1px solid black;
}

/* Past Life: */

.youtube-imbed-container {
  position: relative;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.youtube-imbed-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}


/* Book Recommendations */

.border-radius-top {
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.border-radius-top-0 {
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.border-radius-bottom-0 {
	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.book-recommendations-header {
    margin: 0 27%;
    box-shadow: 0 2px 5px black;
    padding: 50px;
}

.book-recommendations-template h3 {
	margin: 0;
}

.book-recommendations-template h3 a{
	transition: .1s ease-in-out;
}

.book-title-and-author {
	padding: 0;
}

.modal-body p {
	margin-bottom: 20px;
	color: #474E5D;
}

.modal-body .fa-amazon, 
.fa-question-circle,
.about-me .fa {
	color: #474E5D;
	font-size: 40px;
	padding: 0;
}

.fa-amazon:hover, 
.fa-question-circle:hover,
.about-me .fa:hover {
	color: #8c8c8c;
	transition: .2s ease-in-out;
}

.about-me .fa {
	font-size: 250%;
	padding: 25px;
}

.about-me h4 {
	text-decoration: underline;
}

.about-me .fa:hover {
	transition: .2s ease-in-out;
	text-decoration: none;
}


.book-recommendations button, .login-button, #story-short-long  {
	background-color: white;
	border: 2px solid #474E5D;
	transition: .2s ease-in-out;
}

.book-recommendations button:hover, .login-button:hover, #story-short-long:hover {
	border: 2px solid #8c8c8c;
}

.book-recommendations .dropdown {
	display: inline-block;
}

.show {
	display: inline-block !important;	
}

.modal button {
	border: 2px solid #474E5D;
	transition: .2s ease-in-out;
}

.modal button:hover {
	border: 2px solid #8c8c8c;
}

.book-recommendations-template .clickable {
	cursor: pointer;
}

.book-recommendations h2 {
	text-transform: uppercase;
	margin-top: 60px;
}

.book-recommendations h3 {
	display: inline-block;
}

.btn-box {
	padding-right: 0;
}

.btn-box i {
	float: right;
	font-size: 30px;
	padding-left: 10px;
	color: #4d4d4d;
}

.book-info {
	border-bottom: 1px solid #3E474F;
	margin: 15px;
}

.book-recommendations .fa:hover:before {
	color: #c1bcbc;
	transition: .2s ease-in-out;
}

.book-author {
	font-style: normal !important;
	color: #8c8c8c;
	word-break: break-word;
	
}

.book h3 {
	margin: 0;
}

.book a {
	text-align: right;
	font-style: italic;
	color: #4d4d4d;
	transition: .2s ease-in-out;
	font-style: italic;
}

.mid-page .book {
	font-size: 18px;
	padding: 15px 0;
	border-bottom: 1px solid #8c8c8c;
}

.book-recommendations i {
	padding-left: 15%;
	padding-top: 8%;
}

.book-recommendations-template a {
	color: #4d4d4d;
}

.book-recommendations-template a:hover {
	color: #c1bcbc;
	text-decoration: none;
}

.secret-login-form,
.secret-input-form {
    padding: 24px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-width: .2rem;
    color: #474e5d;
}

.category-checks {
	width: 50%;
}

.util-inline-block {
	display: inline-block;
}

.util-block {
	display: block;
}

/* About Me */

.rach-embed {
	width: 60%;
	display: block;
	margin: 0 20%;
}

.about-me-pic {
	margin-right: 15px;
    margin-top: 5px;
    width: 40%;
    border-radius: 4px;
}


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 768px) {
    .rach-embed {
    	width: 100%;
    	margin: 0;
    }
    .about-me-pic {
    	width: 100%;
    }
    .about-me .fa {
		display: inline-block;
		font-size: 250%;
		padding: 25px;
	}
	.container-fluid {
		padding: 0px !important;
		min-height: 0;
	}
	footer a {
		display: inline-block;
	}
	.mid-page {
		padding: 15px;
		border-radius: 0;
	}
	.book-recommendations-header {
		margin: 0;
		border-radius: 0;
	}
	.home-page .margin {
		margin-bottom: 20px;
	}
	.home-page .hero {
		display: none;
	}
	.home-page .container-fluid {
		padding: 0 !important;
	}
	#categoryFilter {
		width: 100%;
	}
	.home-page .about-me {
		border-radius: 0;
	}
	.book-box:hover {
		border-radius: 0;
	}
	.book-recommendations i {
    	padding-left: 25px;
    	padding-top: 0;
    }
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .book-recommendations-header {
        margin: 0;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .mid-page, .book-recommendations-header {
        margin-left: 15% !important;    
        margin-right: 15% !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .mid-page, .book-recommendations-header {
        margin-left: 22% !important;    
        margin-right: 22% !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1450px) {
    .mid-page, .book-recommendations-header  {
        margin-left: 27% !important;    
        margin-right: 27% !important;
    }
}















