@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	font-family: 'Montserrat', sans-serif;
	/* border: 1px solid red; */
}

body {
	font: 20px Montserrat, sans-serif;
	line-height: 1.8;
	color: #f5f6f7;
}

p {
	font-size: 16px;
}
  
.margin {
	margin-bottom: 45px;
}

.bg-1 { 
	background-color: #1abc9c; /* Green */
	color: #ffffff;
}

.bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
}

.bg-3 { 
      background-color: #ffffff !important; /* White */
      color: #555555;
}

.bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
}

.container-fluid {
    padding: 45px !important;
}

.mid-page {
    border-radius: 4px;
    padding: 30px;
    box-shadow: 0 2px 5px black;
}

.mid-page a:link,
.mid-page a:visited {
    color: white;
    text-decoration: none;
}

.mid-page a:hover {
    text-decoration: underline;
}
.mid-page a:active {
    color: lightgrey;
}
.mid-page h2 {
    border-bottom: 1px solid white;
}

.mid-page select {
    color: #2f2f2f;
    border-radius: 3px;
}

.mid-page .row {
	text-align: left;
}

.modal-body,
.modal-header h3,
.modal-footer li {
	color: #2f2f2f !important;
}

.cut-text { 
  text-overflow: ellipsis; 
  overflow: hidden;
  white-space: nowrap; 
}


/* Header: */

.navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0 !important;
      margin-bottom: 0 !important;
      font-size: 12px;
      letter-spacing: 5px;
  }
  
  
  
/* Footer:  */

footer {
	background-color: #474e5d !important;
}
footer a {
	color: white;
}
footer div {
	margin-top: 20px;
}
footer a:hover {
	text-decoration: none;
	color: white;
}
footer h3 {
	margin-top: 0;
	margin-bottom: 0;
}

footer .row {
	margin-top: 10px;
	margin-bottom: 20px;
}


/* Home Page: */

.home-page {
	line-height: 1.8;
	color: #f5f6f7;
}

.home-page h3 {
	color: white;
}
.home-page h4 {
	color: black;
}

.home-page .margin {
	font-size: 40px;
}

.home-page p {font-size: 16px;}
.home-page .margin {margin-bottom: 45px;}
.home-page .fa {
	padding-left: 40px;
	padding-right: 40px;
	font-size: 50px;
	color: white;
}

.home-page .about-me {
	border-radius: 7px;
}

.home-page .book-recommendations {
	padding-top: 12px;
	width: 43%;
}

.home-page .past-life {
	padding-top: 25px;
	width: 65%;
}

.test + .tooltip > .tooltip-inner {
      background-color: #2f2f2f; 
      color: #FFFFFF;
      border: 1px solid black;
}

.home-page .hero {
	width: 50%;
	border-radius: 4px;
	box-shadow: 0 2px 5px black;
}


/* Past Life: */

.youtube-imbed-container {
  position: relative;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.youtube-imbed-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

/* Book Recommendations */

.mid-page .book {
	font-size: 18px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid white;
}

.book-recommendations i {
	padding-left: 15px;
}

.book a {
	font-style: italic;
}


/* Extra Small Devices, Phones */ 
/* @media only screen and (min-width : 480px) {
    .mid-page {
        margin-left: 1% !important;    
        margin-right: 1% !important;
    }
} */

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .mid-page {
        margin-left: 7% !important;    
        margin-right: 7% !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .mid-page  {
        margin-left: 12% !important;    
        margin-right: 12% !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .mid-page {
        margin-left: 17% !important;    
        margin-right: 17% !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1450px) {
    .mid-page  {
        margin-left: 22% !important;    
        margin-right: 22% !important;
    }
}















